/* 
	Breakpoints - upto these sizes because these are max-width
	e.g. 
	@media screen and (max-width:$breakpoint--medium) {
		code goes here for anything you want to show up to 991px
		becuase a large screen is from 992px to 1999px
	}
*/
/* Becuase xlarge starts from 1200 as per Bootstrap grid */
/* Becuase large starts from 992 as per Bootstrap grid */
/* Becuase medium starts from 768 as per Bootstrap grid */
/* Becuase small starts from 576 as per Bootstrap grid */
/* ============================================================ 
                            BASE
  ============================================================ */
/* line 5, D:/My Projects/Repositories/Sass-Template/scss/modules/_base.scss */
* {
  box-sizing: border-box;
}

/* line 7, D:/My Projects/Repositories/Sass-Template/scss/modules/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 12, D:/My Projects/Repositories/Sass-Template/scss/modules/_base.scss */
button {
  box-shadow: 0;
  border: none;
  border-radius: 0;
}

/* ============================================================ 
                            CTAs
  ============================================================ */
/* line 5, D:/My Projects/Repositories/Sass-Template/scss/partials/_cta.scss */
.cta {
  text-align: center;
  display: block;
  box-shadow: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 14, D:/My Projects/Repositories/Sass-Template/scss/partials/_cta.scss */
.cta--primary, .cta--secondary {
  color: #fff;
}

/* line 19, D:/My Projects/Repositories/Sass-Template/scss/partials/_cta.scss */
.cta--primary {
  background-color: #000;
}

/* line 23, D:/My Projects/Repositories/Sass-Template/scss/partials/_cta.scss */
.cta--secondary {
  background-color: #777;
}

/* line 29, D:/My Projects/Repositories/Sass-Template/scss/partials/_cta.scss */
.cta--primary:hover, .cta--primary:active, .cta--secondary:hover, .cta--secondary:active {
  text-decoration: none;
}

/* ============================================================ 
                            FOOTER
  ============================================================ */
/* ============================================================ 
                            HEADER
  ============================================================ */
/* ============================================================ 
                            NAVBAR
  ============================================================ */
/* ============================================================ 
                            SECTION
  ============================================================ */
/* line 5, D:/My Projects/Repositories/Sass-Template/scss/partials/_section.scss */
.section {
  padding: 70px 0;
}

/* ============================================================ 
                            UTILITIES
  ============================================================ */
/* line 6, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text {
  /* -------------- TEXT COLOURS */
  /* -------------- TEXT SIZES */
}

/* line 10, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--white {
  color: #fff;
}

/* line 14, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--primary {
  color: #000;
}

/* line 18, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--secondary {
  color: #777;
}

/* line 25, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--xl {
  font-size: 6rem;
}

/* line 29, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--lg {
  font-size: 3rem;
}

/* line 33, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--md {
  font-size: 1.5rem;
}

/* line 37, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--sm {
  font-size: 0.9rem;
}

/* line 41, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.u __text--smallprint {
  font-size: 0.7rem;
}

/* line 50, D:/My Projects/Repositories/Sass-Template/scss/partials/_utilities.scss */
.hidden {
  display: none;
}

/*# sourceMappingURL=../css/master.map */