// =========================================================== 

                        // BREAKPOINTS

//============================================================ 

/* 
	Breakpoints - upto these sizes because these are max-width
	e.g. 
	@media screen and (max-width:$breakpoint--medium) {
		code goes here for anything you want to show up to 991px
		becuase a large screen is from 992px to 1999px
	}
*/ 

$breakpoint--large 		: 1199px; /* Because xlarge starts from 1200 as per Bootstrap grid */
$breakpoint--medium 	: 991px; /* Because large starts from 992 as per Bootstrap grid */
$breakpoint--small 		: 767px; /* Because medium starts from 768 as per Bootstrap grid */
$breakpoint--xsmall 	: 575px; /* Because small starts from 576 as per Bootstrap grid */


