/* ============================================================ 
                            CTAs
  ============================================================ */

.cta {
    text-align: center;
    display: block;
    box-shadow: 0;
    text-decoration: none;
    cursor: pointer;
    @include transition;

	
	&--primary, 
	&--secondary {
		color: #fff;
	}
	
    &--primary {
        background-color: $colour--primary;
    }

    &--secondary {
        background-color: $colour--secondary;
    }

    &--primary, 
	&--secondary {
        &:hover, 
		&:active {
            text-decoration: none;
        }
    }


// ---------------------- RESPONSIVE: MEDIA QUERIES ----------------------

}

